.App {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.click {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid darkorchid;
}

.undo-action {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.redo-action {
  position: absolute;
  bottom: 3rem;
  left: 56%;
  transform: translateX(-50%);
}
